body {
  text-align: center;

  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
  
  height: 100vh;
  }   

/* "*" se chama seletor universal. q é um seletor geral para tudo do body, pode ser tbm em outros */
body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  text-decoration: none;
      
}

/* ":" se chama pseudo-selector. q é um seletor específico */
:root {
--text-color: white;
--bg-url: url(https://img.freepik.com/free-vector/neon-purple-curve-background_53876-113116.jpg?w=740&t=st=1681598533~exp=1681599133~hmac=e15989688189c5c056eef958f01909e6ada1bb7505b79094d3bed576a189968e);
--bg-color: rgb(60, 28, 119);
--stroke-color:  rgba(221, 203, 203, 0.514);
--surface-color: rgba(212, 172, 172, 0.123);
--surface-color-border: rgba(236, 231, 231, 0.877);
--surface-color-hover: rgba(255, 255, 255, 0.267);
--highlight-color: ;
--border-color:   rgba(75, 16, 214, 0.281);
--switch-bg-url: url(./assets/icons/night.png) no-repeat;
}



/* "." é um seletor de class q eu defini no html. serve para chamar essa classe */
.light-mode {

--text-color: rgb(10, 10, 10);
--bg-url: url(https://img.freepik.com/free-vector/pastel-gradient-blur-background_53876-117319.jpg?w=740&t=st=1681486353~exp=1681486953~hmac=ce9599d96cad6577d827138fc1cf6798897aa3390c2a583fbf98b3033b510dad);
--bg-color: rgba(191, 222, 248, 0.808) ;
--stroke-color:rgba(8, 7, 7, 0.5) ;
--surface-color: rgba(248, 246, 246, 0.438) ;
--surface-color-border: rgba(17, 10, 10, 0.877); 
--surface-color-hover: rgba(17, 10, 10, 0.26);
--highlight-color: ;
--border-color:  rgba(17, 10, 10, 0.26);
--switch-bg-url: url(./assets/icons/sun-bright.png) no-repeat;
--icone: ;
}


/* "#" é um seletor de id que eu defini no html. q é um seletor apenas do id específico */
#container1 {
  text-align: center;
  
  width: 100%;
  max-width: 588px;
  

  margin-left: auto;
  margin-right: auto;
      
  border: 10px solid var(--border-color);
  border-radius: 10px;
 
  background-color: var(--bg-color) ; 
}

#my_profile_img{
  text-align: center;
     
  /*margin: aut;*/
  margin-top: 10%;
  margin-bottom: 10px;    
 
}

/* "div ou img" é um seletor genérico, porém quanto mais eu adicionar à direito, mais específico irá ficar. */
div img{
border-radius: 100px;
border: rgba(8, 7, 7, 0.5) solid;


}

#meuarroba{
  border-width: auto;
  text-size-adjust: center ;
   font-size: smaller;
  
  margin-top: 0px; 
   
}

#switch {
  position: relative;
  
  width: 64px ;
  margin-top: 4px ;

  margin: 0 auto; /*aqui é que centralizou o botão, pois o switch */
  
}


#switch #button{

margin: 0;
padding: 3px;
width: 32px ;
height: 32px;

border: 0;
border-radius: 50%;

background: var(--switch-bg-url);
background-color: rgb(244, 247, 247);

background-size: 63% ;
background-position: 5px;

position: absolute;
top: 50%;
left: 0%;
z-index: 1;

transform: translateY(-50%);

animation: slide-back 0.4s;
}

.light-mode #switch #button{
  /*slide-in é o nome que eudei para a animação at-rule Keyframes que está lá embaixo*/
  animation: slide-in 0.4s ;
  right: 0;
  left: initial;
}

#button:hover {
  outline: solid 8px var(--border-color);
}

#switch span {
  
display: block;

width: 54px ;
height: 24px ;
background: var(--surface-color);

backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);

border: solid var(--stroke-color);
border-radius: 999px;


}


/*lista de links*/
ul {
  margin: 10px;

  display: block;
  align-items: center;
  justify-content: center;

  padding: 15px;

  background: var(--surface-color) ;
  border: 1px solid var(--surface-color);
  /*border:  rgba(255, 255,255, 0.5) ;*/ 
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: all 0.2s; 
  }


ul:hover{
background: var(--surface-color-hover);
  border: 1px solid var(--surface-color-border)  ; 
}


#tecnologies{
  align-content: center;
  font-size: small;

}

#icone {
  display: inline-block;
  border-radius: 50%;
  margin: 1px;
  padding: 10px;
  transition: all 0.2s; 
}

#icone:hover{
  background: var(--surface-color-hover);
   
}

footer {
    border-width: auto;
  text-size-adjust: center ;
   font-size: 14px;
   margin: 10px;  
}

/*animação do botão. "keyframes" é uma at-rule que define animações. em seguida eu coloco o nome que desejo qualquer um, no caso "slide-in"*/
@keyframes slide-in {
  from {left: 0;}

  to {left: 50%}
}

/*Aqui embaixo está a animação que volta. irei chamar de slide-back*/
@keyframes slide-back {
  from { left: 50%; }
  to { left: 0;}
  
}